li {
    list-style: none;
}

.layout-container .am-tab-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.layout-container .am-tab-bar .active {
   color: #409eff;
}

.am-tab-bar {
    height: auto;
}
